@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
.box-container{
    border-color: #E7E63D;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 15px 20px #e7e73d54;
}
   
.title-bk{
/*  border-radius: 8px;
    background-color: #00CC76;
    box-shadow: 0px 15px 20px #01885028; */
}

button.yellow-btn{
    background-color: yellow;
    box-shadow: 0px 15px 20px rgba(173, 173, 4, 0.219);
}

button.yellow-btn:hover {
    background-color: #00CC76;
    box-shadow: 0px 15px 20px #00cc7731;
}

button.green-btn{
    background-color: #00CC76;
    box-shadow: 0px 15px 20px #00cc771c;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: -1%;
}

.arrange-to-top{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    z-index: 999;
    position: relative;
}